.featureButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.button {
  background-color: #474747;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}
